<div>
  This is Edit employee Template
</div>
<form >
  <span>
    <strong>Name: </strong>
     <input type="text" value={{model.firstName}} placeholder="First Name">
  </span><br><br>
  {{!--<span>
    <strong>Last Name: </strong>
      {{input type="text" value=lastName placeholder="Last Name"}}
  </span><br><br>--}}
  <span>
    <strong>City: </strong>
      <input type="text" value={{model.city}} placeholder="City">
  </span><br><br>
  <span>
    <strong>Orgnization: </strong>
      <input type="text" value={{model.org}} placeholder="Organization">
  </span><br><br>
  <button {{action 'updateEmployee' }}>Submit</button>
</form>
{{outlet}}