{{!--<li><button type="button" {{action "getEmployee"}}>Employee</button></li>
<li><button type="button" {{action "getOrganization"}}>Organization</button></li>
<li>{{link-to "Employee" "employee" data-test-id="empl"}}{{/link-to}}</li>
<li>{{link-to "Organization" "organization" data-test-id="org"}}{{/link-to}}</li>--}}
{{outlet}}
